@charset "utf-8";
//主颜色
$red: #E62129;
$red-f2: #f22229;

//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95

$white: #fff;
$black: #000;

$bc1: #ebebeb;

