@charset "utf-8";
//主颜色
$red: #E62129;
$red-f2: #f22229;

$mc2: #25649A;
$mc3: #1F92B7;
$mc4: #1DA1AB;
$mc5: #25BCA3;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95

$white: #fff;
$white-9: rgba(255,255,255,.9);
$white-3: rgba(255,255,255,.3);
$white-5: rgba(255,255,255,.5);
$black: #000;
$black-8: rgba(0,0,0,.8);
$black-1: rgba(0,0,0,.1);

$bc1: #ebebeb;

