<div class="header clearfix">
    <div class="pull-nav-bg"></div>
    <a href="index.html" class="logo"><img src="images/logo.png"/></a>
    <div class="r">
        <ul class="nav">
            <li class="home"><a href="index.html" @@if (context.index==='act') { class="act" }><i class="icon iconfont icon-zhuye"></i></a></li>
            <li><a href="about.html" @@if (context.about==='act') { class="act" }>关于我们</a>
                <div class="pull-nav">
                    <a href="about.html">公司介绍</a>
                    <a href="about.html">新闻中心</a>
                    <a href="about.html">专家团队</a>
                    <a href="about.html">实验室展示</a>
                    <a href="about.html">员工风采</a>
                </div>
            </li>
            <li><a href="med.html" @@if (context.med==='act') { class="act" }>医学检验</a>
                <div class="pull-nav">
                    <a href="med.html">常规检验</a>
                    <a href="med1.html">特色检验</a>
                </div>
            </li>
            <li><a href="ser.html" @@if (context.ser==='act') { class="act" }>科研服务</a>
                <div class="pull-nav">
                    <a href="ser.html">优生优育</a>
                    <a href="ser.html">血液病</a>
                    <a href="ser.html">大众健康</a>
                    <a href="ser.html">基因检测</a>
                </div>
            </li>
            <li><a href="cus.html" @@if (context.cus==='act') { class="act" }>客服中心</a>
                <div class="pull-nav">
                    <a href="cus.html">报告查询</a>
                    <a href="cus1.html">在线留言</a>
                </div>
            </li>
            <li><a href="cta.html" @@if (context.cta==='act') { class="act" }>联系我们</a>
                <div class="pull-nav">
                    <a href="cta.html">人才招聘</a>
                    <a href="cta1.html">联系方式</a>
                </div>
            </li>
        </ul>
        <a href="#" class="oa">OA登陆</a>
    </div>
</div>
<!-- header -->
<div class="menu-handler">
    <span class="burger burger-1 mtrans"></span>
    <span class="burger burger-2 mtrans"></span>
    <span class="burger burger-3 mtrans"></span>
</div>
<div class="menuBox">
    <dl class="navMobile">
        <dd><a href="index.html">首页</a></dd>
        <dd><a href="about.html">关于我们</a>
            <div class="mtv">
                <a href="about.html">公司介绍</a>
                <a href="about.html">新闻中心</a>
                <a href="about.html">专家团队</a>
                <a href="about.html">实验室展示</a>
                <a href="about.html">员工风采</a>
            </div>
        </dd>
        <dd><a href="med.html">医学检验</a>
            <div class="mtv">
                <a href="med.html">常规检验</a>
                <a href="med1.html">特色检验</a>
            </div>
        </dd>
        <dd><a href="ser.html">科研服务</a>
            <div class="mtv">
                <a href="ser.html">优生优育</a>
                <a href="ser.html">血液病</a>
                <a href="ser.html">大众健康</a>
                <a href="ser.html">基因检测</a>
            </div>
        </dd>
        <dd><a href="cus.html">客服中心</a>
            <div class="mtv">
                <a href="cus.html">报告查询</a>
                <a href="cus1.html">在线留言</a>
            </div>
        </dd>
        <dd><a href="cta.html">联系我们</a>
            <div class="mtv">
                <a href="cta.html">人才招聘</a>
                <a href="cta1.html">联系方式</a>
            </div>
        </dd>
        <dd><a href="#">OA登陆</a></dd>
    </dl>
    <br/><br/><br/><br/>
</div>
<!-- menuBox -->
<div class="menuBlack"></div>
<div class="mtop"></div>
