.page-pa{
    padding: 80px 0 100px;
    @media screen and (max-width:1024px) {
        padding-top: 0;
        .pnav{
            margin-bottom: 0;
        }
    }
    @media screen and (max-width:601px) {
        padding-bottom: (100 / 600) * 100vw;
    }
}

.page-bg{
    background: $hc3;
}

.pw2{
    width: 1000px;
    margin: 0 auto;
    @media screen and (max-width:1024px) {
        width: 90%;
    }
}

.pw3{
    width: 900px;
    margin: 0 auto;
    max-width: 90%;
}

.pw4{
    width: 600px;
    margin: 0 auto;
    max-width: 90%;
}

.pw5{
    width: 1200px;
    margin: 0 auto;
    @media screen and (max-width:1366px) {
        width: 1000px;
    }
    @media screen and (max-width:1024px) {
        width: 90%;
    }
}

.med-pa{
    padding-bottom: 0;
}